<!-- <div class="footer">
  <div class="top">
    <div class="top_back abs abs_full_height"></div>
    <div class="top_data">
      <div class="top_data_static">
        <div class="top_data_static_logo">
          <img src="../../assets/images/Logo.svg" alt="Akshat Logo" />
        </div>
        <div class="top_data_static_text">
          <p>
            Akshat Bullion was founded in 2018 by Akshat Shah who is doing
            business for many years. The blend of his passion and experience in
            the Gold &amp;Silver industry have created the organization with
            customer-oriented.
          </p>
        </div>
        <div class="top_data_static_icons">
          <div>
            <img src="../../assets/images/logo-android.svg" alt="android logo" />
          </div>
          <div>
            <img src="../../assets/images/logo-apple.svg" alt="Apple Logo" />
          </div>
        </div>
      </div>
      <div class="top_data_contact">
        <div class="top_data_contact_header">CONTACT DETAIL</div>
        <hr/>
        <div class="top_data_contact_data">
          <ul>
            <li style="padding: 13px 0">
              <div class="a">
                <div class="call"></div>
              </div>
              <div class="text">
                <span
                  ><a href="tel:+918320361328" class="link"
                    >(+91) 8320-361328</a
                  ></span
                >
              </div>
            </li>
            <li>
              <div class="a">
                <img src="../../assets/images/mail.svg" alt="main logo" />
              </div>
              <div class="text">
                <span
                  ><a href="mailto:akshatshah185@gmail.com"
                    >akshatshah185@gmail.com</a
                  ></span
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="footer">
  <div class="top"></div>
  <div class="bottom">
    <div class="nav float-left">
      <ul class="flex flex-row">
        <!-- <li *ngFor="let item of data" class="after-disable mr-[5px]">
          <a class="text-[#fce975]" routerlink="/about-us" href="about-us">{{item.name}}</a>
        </li> -->
        <li class="after-disable mr-[5px]">
          <a routerlink="/about-us" href="about-us">About Us</a>
        </li>

        <li class="after-disable mr-[5px]">
          <a routerlink="/messages" href="messages">Messages</a>
        </li>
        <li class="after-disable mr-[5px]">
          <a routerlink="/bank-details" href="bank-details">Bank Details</a>
        </li>
        <li class="mr-[5px]">
          <a routerlink="/contact-us" href="contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
    <p class="float-right">Akshat Bullion © 2021 I All Rights Reserved</p>
  </div>
</div>
