<div class="w-full flex justify-center items-cente relative">
  <div class="Roboto text-[14px] w-full">
    <div class="top pt-[40px] px-[10%] pb-[30px] w-full flex flex-row">
      <div class="left_data w-[65%]">
        <div class="logo">
          <img class="h-[75px] w-[75px]" src="../../assets/images/Logo.svg" alt="Logo" />
        </div>
        <div class="text mt-[5px] w-[90%]">
          <p class="text-[#fff] text-justify">
            Akshat Bullion was founded in 2018 by Akshat Shah who is doing
            business for many years. The blend of his passion and experience in
            the Gold & Silver industry have created the organization with
            customer-oriented.
          </p>
        </div>
        <div class="flex flex-row py-[5px]">
          <div class="mx-[5px]"><img class="h-[18px] w-[18px]" src="../../assets/images/logo-android.svg"
              alt="Android Logo" /></div>
          <div class="mx-[5px]"><img class="h-[18px] w-[18px]" src="../../assets/images/logo-apple.svg"
              alt="Apple Logo" /></div>
        </div>
      </div>
      <div class="right_data flex-1">
        <div class="m-0 text-[18px] leading-[18px] text-[var(--primary-light)]">CONTACT DETAIL</div>
        <hr class="mt-[20px] mb-[17px] w-[35px] text-[var(--primary-light)]" />
        <div>
          <ul>
            <li class="py-[13px] li grid grid-flow-col ">
              <div class="w-[44px] h-[44px] flex justify-center items-center bg-[#f7f7f7] rounded-[50%]"><img
                  class="w-[18px] h-[18px]" src="../../assets/images/contact_black.svg" alt="" /></div>
              <div class="w-full h-full flex justify-center items-center flex-col">
                <span class="block h-[50%] w-full text-[#fff]"><a class="" href="tel:+918320361328">(+91)
                    8320-361328</a></span>
              </div>
            </li>
            <li class="li grid grid-flow-col ">
              <div class="w-[44px] h-[44px] flex justify-center items-center bg-[#f7f7f7] rounded-[50%]"><img
                  class="w-[18px] h-[18px]" src="../../assets/images/mail_black.svg" alt="" /></div>
              <div class="w-full h-full flex justify-center items-center flex-col">
                <span class="block h-[50%] w-full text-[#fff]"><a class=""
                    href="mailto:akshatshah185@gmail.com">akshatshah185@gmail.com</a></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom bg-[#000000a1] py-[15px] px-[10%] float-left w-full Roboto">
      <div class="nav block float-left">
        <ul class="flex flex-row">
          <li class="after-disable mr-[5px]">
            <a class="text-[#fce975]" [routerLink]="footer_data.aboutus_r_l">{{ footer_data.aboutus
              }}<span class="ml-[5px] text-[#fce975]">-</span></a>
          </li>
          <li class="after-disable mr-[5px]">
            <a class="text-[#fce975]" [routerLink]="footer_data.message_r_l">{{ footer_data.message
              }}<span class="ml-[5px] text-[#fce975]">-</span></a>
          </li>
          <li class="after-disable mr-[5px]">
            <a class="text-[#fce975]" [routerLink]="footer_data.bank_d_r_l">{{ footer_data.bank_d
              }}<span class="ml-[5px] text-[#fce975]">-</span></a>
          </li>
          <li class="mr-[5px]">
            <a class="text-[#fce975]" [routerLink]="footer_data.contact_us_r_l">{{ footer_data.contact_us }}</a>
          </li>
        </ul>
      </div>
      <p class="float-right text-[#fce975]">{{ footer_data.copyright_text }}</p>
    </div>
    <div
      class="menu flex items-center Roboto w-full justify-around h-[80px] bg-[#000] outline-none bottom-0 fixed left-0">
      <div (click)="_testService.status=!_testService.status" class="other justify-center flex items-center h-full flex-col">
        <div class="img justify-center flex items-center w-full"><img
            class="other_img h-[26px] w-[26px]" src="../../assets/svg/nav_icon_3x3.svg"></div><span
          class="text-[12px] text-[#fff]">Menu</span>
      </div>
      <div [routerLink]="'app/home/live-rate'" class="home justify-center flex items-center h-full flex-col">
        <div class="img justify-center flex items-center w-full"><img class="home_img h-[26px] w-[26px]"
            src="../../assets/svg/nav_home_logo.svg"></div><span class="text-[12px] text-[#fff]">Live Rate</span>
      </div>
      <div [routerLink]="'app/home/lagdis'" class="lagdi justify-center flex items-center h-full flex-col">
        <div class="img justify-center flex items-center w-full"><img class="lagdi_img h-[26px] w-[26px]"
            src="../../assets/svg/nav_Lagdi_logo.svg"></div><span class="text-[12px] text-[#fff]">Lagdi</span>
      </div>
      <div [routerLink]="'/login'" class="right justify-center flex items-center person h-full flex-col">
        <div class="img justify-center flex items-center w-full"><img class="person_img h-[26px] w-[26px]"
            src="../../assets/svg/nav_login_logo.svg"></div><span class="text-[12px] text-[#fff]">Login</span>
      </div>
    </div>
  </div>