.li {
  grid-template-columns: 58px 1fr;
}

@media screen and (max-width: 1150px) {
  .top {
    padding: 40px 5% !important;
  }
}

@media screen and (max-width: 950px) {
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}

@media screen and (max-width:800px) {
  .top {
    display: none;
  }

  .bottom {
    display: none;
  }
}

@media screen and (min-width:800px) {


  .menu {
    display: none;
  }
}


// ############################################################################ //
