<div
  class="color flex justify-center h-6 text-[12px] text-[var(--header-bg)] w-full bg-[var(--primary-dark)]"
>
  <div class="w-[80%] flex justify-center items-center">
    <div class="w-3/4">
      <span class="copyright py-[3px]"
        >© Copyright 2020 By SHIV ENTERPRISE BULLION MERCHANT.</span
      >
    </div>
    <div class="w-1/4">
      <span class="py-[3px] text-[var(--primary-gold)]">Powerd By:</span>
      <u class="pl-[4px]">ALAY PATEL</u>
    </div>
  </div>
</div>

<div class="line flex justify-center w-full items-end">
  <nav-bars-3 [parentData]="navbar" class="nav bottom-1 flex"></nav-bars-3>

</div>
