<div class="main h-full mx-auto py-[40px] px-[10%]">
    <div class="flex flex-wrap justify-center items-center">
        <div><rps-bull-rate-tables-4></rps-bull-rate-tables-4></div>
        <div><rps-bull-rate-tables-5></rps-bull-rate-tables-5></div>
        <div><rps-bull-rate-tables-5></rps-bull-rate-tables-5></div>
        <div><rps-bull-rate-tables-5></rps-bull-rate-tables-5></div>
        <div><rps-bull-rate-tables-4></rps-bull-rate-tables-4></div>
        <div><rps-bull-rate-tables-5></rps-bull-rate-tables-5></div>
        <div><rps-bull-rate-tables-5></rps-bull-rate-tables-5></div>
        <div><rps-bull-rate-tables-5></rps-bull-rate-tables-5></div>
        <div><rps-bull-rate-tables-6></rps-bull-rate-tables-6></div>
        <div><rps-bull-rate-tables-4></rps-bull-rate-tables-4></div>
        <div><rps-bull-rate-tables-4></rps-bull-rate-tables-4></div>
    </div>
</div>