<div class="signup flex justify-center items-center bg-[#bc9039]">
    <div class="main my-[65px]">
        <div class="main_menu w3-animate-left">
            <div class="main_menu_img">
                <div class="back_button_div"><img src="/assets/svg/chevron-back.svg"></div><img
                    src="/assets/svg/solo-logo.svg" alt="Akshat Logo">
            </div>
            <div class="main_menu_header">
                <h1> New Registration </h1>
            </div>
            <div class="main_menu_subheader">
                <h6>Add your details for registration</h6>
            </div>
            <div agclickentertonext="" class="main_menu_inputs"><input placeholder="Name" index="0" required=""
                    class="ng-untouched ng-pristine ng-invalid"><input placeholder="Email" index="1" type="email"
                    required="" class="ng-untouched ng-pristine ng-invalid"><input index="2" placeholder="Mobile No"
                    maxlength="10" type="tel" required="" class="ng-untouched ng-pristine ng-invalid"><input index="3"
                    placeholder="Company Name" required="" class="ng-untouched ng-pristine ng-invalid"><input index="4"
                    placeholder="Password" type="password" required=""
                    class="ng-untouched ng-pristine ng-invalid"><input index="5" placeholder="Confirm Password"
                    type="password" required="" class="ng-untouched ng-pristine ng-invalid"></div>
            <div class="main_menu_bottom">
                <div class="main_menu_bottom_remember"><input type="checkbox" placeholder="Password"
                        class="ng-untouched ng-pristine ng-valid"><span routerlink="/tnc" tabindex="0">Terms &amp;
                        Conditions</span></div>
                <div class="main_menu_bottom_button"><button>
                        Sign Up </button></div>
                <div class="main_menu_bottom_login">
                    <h6> Already have Account? <a routerlink="/login" href="/login">Login</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>