.signup {
  height: 745px;
  width: 100%;
}

.main_menu {
  height: 98%;
  width: 90%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 0 15px #0000008c;
  border-radius: 40px;
  color: #000;
  background-color: #fff;
}

.w3-animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

.main_menu_img {
  height: 13%;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 18%;
  }
}

.main_menu_header {
  text-align: center;
  color: #4a4b4d;

  h1 {
    font-size: 19px;
    font-weight: 400;
  }
}

.main_menu_subheader {
  text-align: center;
  font-size: 10px;
  color: #7c7d7e;

  h6 {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.main_menu_inputs {
  width: 100%;
  text-align: center;
  height: 53%;
  position: relative;

  input {
    height: 12%;
    margin: 7px 0;
    background: #f2f2f2;
    width: 90%;
    border-radius: 30px;
    padding: 10px 24px;
    border: none;
  }
  input:focus {
    outline: none;
  }
}

.main_menu_bottom {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.back {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 4%;
  top: 5%;
  border-radius: 55px;
  cursor: pointer;
}

.main_menu_bottom_remember {
  font-size: 15px;
  width: 100%;
  text-align: center;
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;

  input {
    margin: 5px 0;
    background: #f2f2f2;
    border-radius: 30px;
    padding: 14px 24px;
    border: none;
  }

  span {
    margin-left: 5px;
  }
}

.main_menu_bottom_button {
  width: 100%;
  margin: 2vh 0;
  text-align: center;

  button {
    width: 90%;
    text-align: center;
    background-color: #41241c;
    color: #fff;
    padding: 10px 24px;
    border-radius: 30px;
    font-weight: 500;
  }
}

.main_menu_bottom_login {
  font-weight: 400;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 12px;
  line-height: 1.2;
  a {
    font-weight: 600;
    border-bottom: 2px solid #41241c;
  }
}
