.main_container_data {
    box-shadow: 0 0 15px 5px #fff;
}

@media screen and (max-width: 1150px) {
    .main {

        padding: 20px 5% !important;
    }
}

@media screen and (max-width: 950px) {
    .main {

        padding: 10px 15px !important;
    }
}