<div class="main flex justify-center items-center mt-[40px] h-full">
<div class="main_container_data">
  <div class="main_container_data_logo">
    <img alt="Bank_Logo" src="../../assets/images/bank_logo.png" />
  </div>
  <div class="main_container_data_details">
    <div class="main_container_data_details_contant">
      <h5>Account Name</h5>
      <span>
        :
        <p class="ml-[10px]">Akshat Bullion</p></span
      >
    </div>
    <div class="main_container_data_details_contant">
      <h5>Bank Name</h5>
      <span>
        :
        <p>Axis Bank</p></span
      >
    </div>
    <div class="main_container_data_details_contant">
      <h5>Account No</h5>
      <span>
        :
        <p class="bank-account">9200-2006-575-5340</p>
        <div class="copy"></div
      ></span>
    </div>
    <div class="main_container_data_details_contant">
      <h5>IFSC Code</h5>
      <span>
        :
        <p>UTIB-000-4758</p>
        <div class="copy"></div
      ></span>
    </div>
    <div class="main_container_data_details_contant">
      <h5>Branch Name</h5>
      <span>
        :
        <p>Balasinor</p></span
      >
    </div>
  </div>
</div>
</div>
