.main_container_data {
    box-shadow: 0 0 15px 5px #fff;
}

@media screen and (max-width: 1150px) {
    .main {

        padding: 20px 5% !important;
    }

    .bank_detais {
        margin-left: 20px;

        h5 {
            width: 40%;
        }

        span {
            width: 60%;
        }
    }

    .main_container_data {
        max-width: 400px;
    }
}

@media screen and (max-width: 950px) {
    .main {

        padding: 10px 15px !important;
    }
}