<div class="app-home-container">
  <div class="sub-container">
    <div class="contact-us">
      <div class="container flex_center">
        <div class="card">
          <div class="logo flex_center"><img class="location" /></div>
          <div class="data">
            <div class="header flex_center"><h2>OFFICE ADDRESS</h2></div>
            <div class="sub_data flex_center">
              <p>Nr Pipala Sheri</p>
              <p>Main Bazar</p>
              <p>Balasinor, Mahisagar</p>
              <p>Gujarat,388255</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="logo flex_center"><img class="contact" /></div>
          <div class="data">
            <div class="header flex_center"><h2>Contact Numbers</h2></div>
            <div class="sub_data flex_center">
              <h4 class="flex_center">Personal</h4>
              <p style="margin: 5px 0">
                <span><b> Akshat Shah</b></span>
              </p>
              <p>
                <span><a href="tel:'+918320361328'">+91 8320361328</a> </span>
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="logo flex_center"><img class="email" /></div>
          <div class="data">
            <div class="header flex_center"><h2>Email</h2></div>
            <div class="sub_data flex_center">
              <p>
                <span style="width: 100%"
                  ><a href="mailto:akshatshah185@gmail.com"
                    >akshatshah185@gmail.com</a
                  ></span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>