<div class="details">
  <div class="main">
    <div class="mdl_grid">
      <div class="main_data">
        <div class="logo">
          <img src="../../assets/images/AxisBank.png" />
          <div>
            <div class="main_container_data_details">
              <div class="main_container_data_details_contant">
                <h5>Account Name</h5>
                <span>
                  :
                  <p>AKSHAT GOLD PVT LTD</p></span
                >
              </div>
              <div class="main_container_data_details_contant">
                <h5>Bank Name</h5>
                <span>
                  :
                  <p>AXIS BANK</p></span
                >
              </div>
              <div class="main_container_data_details_contant">
                <h5>Account No</h5>
                <span>
                  :
                  <p class="bank-account">921-0200-4224-1964</p>
                  <div class="copy"></div
                ></span>
              </div>
              <div class="main_container_data_details_contant">
                <h5>IFSC Code</h5>
                <span>
                  :
                  <p>UTIB - 0003 - 606</p>
                  <div class="copy"></div
                ></span>
              </div>
              <div class="main_container_data_details_contant">
                <h5>Branch Name</h5>
                <span>
                  :
                  <p>VATVA GJ</p></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
