.main_container_data {
  box-shadow: 0 0 15px 5px #00000029;
}
.main_container_data_logo {
  img {
    border: 1px solid #ddd;
  }
}

.main_container_data_details_contant {
}
.copy {
  -webkit-mask: url(../../assets/images/copy.svg) no-repeat center;
}
