@media screen and (max-width: 750px) {
    .mapp {
        padding: 40px 15px !important;
    }

    .mapp_container_data {
        flex-direction: column;
    }
}

@media screen and (max-width: 1150px) {
    .mapp {
        padding: 40px 5% !important;
    }
}