<div class="mapp py-[40px] px-[10%] Roboto">
    <div class="mapp_container">
        <div class="mapp_container_data flex justify-evenly items-center">
            <div class="mapp_container_data_android">
                <div class="image flex justify-evenly items-center"> <img src="../../assets/images/mobile_img.png"> </div>
            </div>
            <div class="mapp_container_data_ios">
                <div class="button mt-[10px] flex justify-evenly items-center"> <a class="curvy_button" href="https://play.google.com/store/apps/details?id=com.akshatbullion.app"> <img class="android" src="../../assets/images/logo-android-primary-light.svg" alt="Android App">Download Android App </a>
                </div>
                <div class="button mt-[10px] flex justify-evenly items-center"> <a class="curvy_button " href="https://apps.apple.com/us/app/akshat-bullion/id1568988243"> <img class="ios" src="../../assets/images/logo-apple-primary-light.svg" alt="IOS App">Download IOS
                        App </a> </div>
            </div>
        </div>
    </div>
</div>
