{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrder": [
    "reflect-metadata",
    "<THIRD_PARTY_MODULES>",
    "^@rps/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
