<div class="contact-us">
  <div class="main py-[80px] px-[15%]">
    <div
      class="main_container border-solid border-6 border-amber-300 p-[40px] rounded-[20px]"
    >
      <div class="main_container_data_row flex flex-1 flex-row">
        <div class="main_container_data_row_col flex-1 my-[15px]">
          <div
            class="main_container_data_row_col_header w-[85%] relative pb-[10px]"
          >
            <h2>OFFICE ADDRESS:</h2>
            <hr />
          </div>
          <div class="main_container_data_row_col_contant">
            <p>
              2nd Floor, Jay Ambe Complex, Mochi Ni Khadki, M G Haveli Road,
              Manekchowk, Ahmedabad.
            </p>
          </div>
        </div>
        <div class="main_container_data_row_col">
          <div class="main_container_data_row_col_header">
            <h2>CONTACT NUMBER:</h2>
            <hr />
          </div>
          <div class="main_container_data_row_col_contant">
            <p>
              <span> <a href="tel:+919904718494">9904718494</a> |</span>
              <span> <a href="tel:+919904818494">9904818494</a> |</span>
              <span> <a href="tel:+919265438886">9265438886</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="main_container_data_row">
        <div class="main_container_data_row_col">
          <div class="main_container_data_row_col_header">
            <h2>CONTECT PERSON:</h2>
            <hr />
          </div>
          <div class="main_container_data_row_col_contant">
            <div class="contact-person">
              <span><b> Mayank Shah:</b></span>
              <span><a href="tel:'+919016436555'">+91 9016436555</a></span>
            </div>
          </div>
        </div>
        <div class="main_container_data_row_col">
          <div class="main_container_data_row_col_header">
            <h2>EMAIL ID:</h2>
            <hr />
          </div>
          <div class="main_container_data_row_col_contant">
            <p>
              <span style="width: 100%"
                ><a href="mailto:akshatgold1089@gmail.com"
                  >akshatgold1089@gmail.com</a
                ></span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
