<div class="main py-[80px] px-[15%]">
  <div
    class="main_container border-solid border-6 border-amber-300 p-[40px] rounded-[20px]"
  >
    <div class="main_container_data_row flex flex-1 flex-row">
      <div class="top flex-1 my-[15px] mx-0">
        <div
          class="main_container_data_row_col_header w-[85%] relative pb-[10px]"
        >
          <h2
            class="m-0 max-w-[240px] pb-[10px] border-b-[#bc9039] text-[25px] font-light"
          >
            OFFICE ADDRESS:
          </h2>
          <hr class="w-[10%] pb-[1.2px] bg-[#bc9039] mb-[10px] max-w-[80px]" />
        </div>
        <div class="content w-[85%]">
          <p class="font-normal text-[16px] leading-[20px] h-[60px] mb-[5px]">
            2nd Floor, Jay Ambe Complex, Mochi Ni Khadki, M G Haveli Road,
            Manekchowk, Ahmedabad.
          </p>
        </div>
      </div>
      <div class="contact flex-1 my-[15px] mx-0">
        <div class="main_container_data_row_col_header">
          <h2
            class="m-0 max-w-[240px] pb-[10px] border-b-[#bc9039] text-[25px]"
          >
            CONTACT NUMBER:
          </h2>
          <hr class="w-[10%] pb-[1.2px] bg-[#bc9039] mb-[10px] max-w-[80px]" />
        </div>
        <div class="content w-[85%]">
          <p>
            <span class="inline-block w-[115px]">
              <a class="no-underline" href="tel:+919904718494">9904718494</a>
              |</span
            >
            <span class="inline-block w-[115px]">
              <a class="no-underline" href="tel:+919904818494">9904818494</a>
              |</span
            >
            <span class="inline-block w-[115px]">
              <a class="no-underline" href="tel:+919265438886"
                >9265438886</a
              ></span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="main_container_data_row flex flex-1 flex-row">
      <div class="contact flex-1 my-[15px] mx-0">
        <div class="main_container_data_row_col_header">
          <h2
            class="m-0 max-w-[240px] pb-[10px] border-b-[#bc9039] text-[25px]"
          >
            CONTECT PERSON:
          </h2>
          <hr class="w-[10%] pb-[1.2px] bg-[#bc9039] mb-[10px] max-w-[80px]" />
        </div>
        <div class="content1 w-[85%]">
          <div class="text-[16px] h-[50px] leading-5 mb-[5px]">
            <span class="inline-block w-[135px]"><b> Mayank Shah:</b></span>
            <span class="inline-block w-[135px]"
              ><a class="no-underline" href="tel:'+919016436555'"
                >+91 9016436555</a
              ></span
            >
          </div>
        </div>
      </div>
      <div class="flex-1 my-[15px] mx-0">
        <div class="main_container_data_row_col_header">
          <h2
            class="m-0 max-w-[240px] pb-[10px] border-b-[#bc9039] text-[25px]"
          >
            EMAIL ID:
          </h2>
          <hr class="w-[10%] pb-[1.2px] bg-[#bc9039] mb-[10px] max-w-[80px]" />
        </div>
        <div class="w-[85%]">
          <p>
            <span class="inline-block w-[115px]" style="width: 100%"
              ><a class="no-underline" href="mailto:akshatgold1089@gmail.com"
                >akshatgold1089@gmail.com</a
              ></span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
