.main_container {
  border: 6px solid #bc9039;
}

.main_container_data_row_col_header h2 {
  font-family: Philosopher;

  border-bottom: 1px solid #bc9039;
}
.main_container_data_row_col_header hr {
  border: 1px solid #bc9039;
}
