<div class="terms h-full w-full Roboto">
    <div class="main h-full w-full flex justify-center items-center bg-[#b48531]">
        <div class="main_pop h-[96%] w-[90%] max-w-[450px] relative rounded-[40px] bg-[#fff]">
            <div class="main_pop_header mt-[20px] h-[10%] text-center relative text-[#4a4b4d]">
                <div
                    class="back_button_div absolute ml-[5%] flex float-left rounded-[50%] p-[2px] justify-center items-center cursor-pointer">
                    <img routerLink="/sign-up" class="h-[30px]" src="../../assets/images/Back_btn.svg" alt="back">
                </div>
                <h1 class="m-0 text-[26px] font-normal">Terms &amp; Condition</h1>
                <h1 class="m-0 text-[26px] font-normal" hidden="">Privacy &amp; Policy</h1>
            </div>
            <div class="main_pop_conditions h-[75%] w-[94%] ml-[3%] overflow-auto">
                <div class="main_pop_conditions_condition h-auto w-full inline-flex mb-[14px]">
                    <div class="symbole text-[#000] text-[30px] h-auto">*</div>
                    <div class="text text-[#4a4b4d] mt-[7px] h-auto text-justify leading-[18px]"> Welcome to our
                        website. If you
                        continue to browse and use
                        this website you are agreeing to comply with and be bound by the following terms and conditions
                        of use, which together with our privacy policy govern Akshat Bullion relationship with you in
                        relation to this website. </div>
                </div>
                <div class="main_pop_conditions_condition h-auto w-full inline-flex mb-[14px]">
                    <div class="symbole text-[#000] text-[30px] h-auto">*</div>
                    <div class="text text-[#4a4b4d] mt-[7px] h-auto text-justify leading-[18px]"> The content of the
                        pages of
                        this website is for your
                        general information and use only. It is subject to change without notice. </div>
                </div>
                <div class="main_pop_conditions_condition h-auto w-full inline-flex mb-[14px]">
                    <div class="symbole text-[#000] text-[30px] h-auto">*</div>
                    <div class="text text-[#4a4b4d] mt-[7px] h-auto text-justify leading-[18px]"> Your use of any
                        information or
                        materials on this website is
                        entirely at your own risk, for which we shall not be liable. It shall be your own responsibility
                        to ensure that any products, services, or information available through this website meet your
                        specific requirements. </div>
                </div>
                <div class="main_pop_conditions_condition h-auto w-full inline-flex mb-[14px]">
                    <div class="symbole text-[#000] text-[30px] h-auto">*</div>
                    <div class="text text-[#4a4b4d] mt-[7px] h-auto text-justify leading-[18px]"> Unauthorized use of
                        this
                        website may give rise to a claim
                        for damages and/or be a criminal offense. </div>
                </div>
                <div class="main_pop_conditions_condition h-auto w-full inline-flex mb-[14px]">
                    <div class="symbole text-[#000] text-[30px] h-auto">*</div>
                    <div class="text text-[#4a4b4d] mt-[7px] h-auto text-justify leading-[18px]"> Your use of this
                        website and
                        any dispute arising out of
                        such use of the website is subject to the laws of India or other regulatory authority. </div>
                </div>
            </div>
            <div class="main_pop_bottom h-[10%] font-bold">
                <hr class="h-[3.6px] ml-[37.5%] w-[25%] border-[1px] border-[#41241c]">
                <div class="main_pop_bottom_contact text-[13.4px] text-[#41241c] text-center">
                    <h6> For More Info. Contact : <a class="border-b border-b-[#41241c]" href="tel:+91 83203-61328">
                            +91 83203-61328 </a></h6>
                </div>
            </div>
        </div>
    </div>
</div>