<div class="mapp py-[40px] px-[15%]">
  <div class="mapp_container">
    <div class="mapp_container_data flex justify-evenly items-center">
      <div class="mapp_container_data_android box-border">
        <div class="image flex justify-evenly items-center">
          <img class="max-w-full" src="../../assets/images/Android.png" />
        </div>
        <div class="button flex justify-evenly items-center bg-transparent">
          <a class="flex justify-evenly items-center" href="https://play.google.com/store/apps/details?id=com.akshatgold"
            ><button>Download Android App</button></a
          >
        </div>
      </div>
      <div class="mapp_container_data_ios box-border">
        <div class="image flex justify-evenly items-center">
          <img src="../../assets/images/ios.png" />
        </div>
        <div class="button flex justify-evenly items-center bg-transparent">
          <a href="https://apps.apple.com/us/app/akshat-gold/id1337744459"> 
          <button>Download IOS App</button>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
