<div class="mapp">
  <div class="mapp_container">
    <div class="mapp_container_data">
      <div class="mapp_container_data_android">
        <div class="image">
          <img src="../../assets/images/Android.png" />
        </div>
        <div class="button">
          <a href="https://play.google.com/store/apps/details?id=com.akshatgold"
            ><button>Download Android App</button></a
          >
        </div>
      </div>
      <div class="mapp_container_data_ios">
        <div class="image">
          <img src="../../assets/images/ios.png" />
        </div>
        <div class="button"><button>Download IOS App</button></div>
      </div>
    </div>
  </div>
</div>
