<div class="py-[40px] px-[15%]">
  <div>
    <div class="main flex justify-evenly items-center mb-[50px]">
      <div class="box-border">
        <div class="flex justify-evenly items-center">
          <img class="max-w-full" src="../../assets/images/Android.png" />
        </div>
        <div class="flex justify-evenly items-center bg-transparent">
          <a href="https://play.google.com/store/apps/details?id=com.akshatgold" target="_blank"
            ><button
              class="inline-block p-[15px] text-[12px] items-center uppercase text-[#fff] align-middle rounded-[10px] my-[5px] mx-0 bg-[#363435] hover:bg-[#c6a054] boredr-[1px] ease-in-out"
            >
              Download Android App
            </button></a
          >
        </div>
      </div>
      <div class="box-border">
        <div class="flex justify-evenly items-center">
          <img class="max-w-full" src="../../assets/images/ios.png" />
        </div>
        <div class="flex justify-evenly items-center bg-transparent">
          <a href="https://apps.apple.com/us/app/akshat-gold/id1337744459" target="_blank">
            <button
              class="inline-block p-[15px] text-[12px] items-center uppercase text-[#fff] align-middle rounded-[10px] my-[5px] mx-0 bg-[#363435] hover:bg-[#c6a054] boredr-[1px] ease-in-out"
            >
              Download IOS App
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
