.yellow_gradient {
    background-image: radial-gradient(circle, #fce975, #ebcf62, #d9b651, #c79d40, #b48531);
    color: #a9481b;
}

@media screen and (max-width: 1200px) {
    .login_input {
        h1 {
            font-size: 40px;
        }

        h4 {
            font-size: 20px;

        }
    }

    .input {
        input {
            width: 80%;
        }
    }

    .inputs {
        margin: 0;
    }
}
