<div class="footer1 m-0 p-0 w-full flex justify-center items-cente bg-[#bc9039]">
  <div class="Roboto text-[14px]">
    <div class="top w-full flex flex-row pt-[40px] pb-[30px] px-[185px]">
      <div class="left_data w-[65%]">
        <div class="logo flex items-center">
          <img
            class="h-[75px] w-[380px]"
            src="../../assets/images/Logo.svg"
            alt="Logo"
          />
        </div>
        <div class="text mt-[5px] w-[90%]">
          <p
            class="text-[#000] text-[13px] text-justify font-normal leading-tight"
          >
            AKSHAT GOLD PVT LTD was founded in 2016 by MAYANK SHAH who is doing
            business for many year. Blend of his passion and experience in the
            Gold &Silver industry have created the organization with customer
            oriented. It is located in the heart city of Ahmedabad
          </p>
        </div>
        <div class="flex flex-row py-[5px]">
          <div class="mx-[5px]">
            <img
              class="h-[18px] w-[18px]"
              src="../../assets/images/logo-android.svg"
              alt="Android Logo"
            />
          </div>
          <div class="mx-[5px]">
            <img
              class="h-[18px] w-[18px]"
              src="../../assets/images/logo-apple.svg"
              alt="Apple Logo"
            />
          </div>
        </div>
      </div>
      <div class="right_data flex-1">
        <div class="m-0 text-[18px] philosopher leading-[18px] text-[#ffffff]">
          CONTACT DETAIL
        </div>
        <hr class="mt-[20px] mb-[17px] w-[35px]" />
        <div>
          <ul>
            <li class="li pt-[13px] grid grid-flow-col">
              <div
                class="hover:bg-[#bc9039]  w-[44px] h-[44px] flex justify-center items-center bg-[#f7f7f7] rounded-[50%]"
              >
                <img
                  class="w-[18px] h-[18px]"
                  src="../../assets/images/call.svg "
                  alt=""
                />
              </div>
              <div
                class="w-full h-full flex justify-center items-center flex-col"
              >
                <span class="block h-[50%] w-full text-[#fff]"
                  ><a class="" href="tel:+919016436555"
                    >(+91) 9016436555</a
                  ></span
                >
                <span class="block h-[50%] w-full text-[#fff]"
                  ><a class="" href="tel:+919265438886"
                    >(+91) 9265438886</a
                  ></span
                >
              </div>
            </li>
            <li class="li py-[13px] grid grid-flow-col">
              <div
                class="hover:bg-[#bc9039] w-[44px] h-[44px] flex justify-center items-center bg-[#f7f7f7] rounded-[50%]"
              >
                <img
                  class="w-[18px] h-[18px]"
                  src="../../assets/images/mail.svg"
                  alt=""
                />
              </div>
              <div
                class="w-full h-full flex justify-center items-center flex-col"
              >
                <span class="block h-[50%] w-full text-[#fff]"
                  ><a class="" href="mailto:akshatshah185@gmail.com"
                    >akshatgold1089@gmail.com</a
                  ></span
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer Roboto w-full float-left bg-[#41241c] py-[15px] px-[13%]">
      <div class="nav float-left">
        <ul class="flex flex-row">
          <li class="after-disable mr-[6px]">
            <a class="text-[#fff]" [routerLink]="footer_data.aboutus_r_l"
              >{{ footer_data.aboutus
              }}<span class="ml-[5px] text-[#fce975]">-</span></a
            >
          </li>
          <li class="after-disable mr-[5px]">
            <a class="text-[#fff]" [routerLink]="footer_data.message_r_l"
              >{{ footer_data.message
              }}<span class="ml-[5px] text-[#fce975]">-</span></a
            >
          </li>
          <li class="after-disable mr-[5px]">
            <a class="text-[#fff]" [routerLink]="footer_data.bank_d_r_l"
              >{{ footer_data.bank_d
              }}<span class="ml-[5px] text-[#fce975]">-</span></a
            >
          </li>
          <li class="mr-[5px]">
            <a class="text-[#fff]" [routerLink]="footer_data.contact_us_r_l">{{
              footer_data.contact_us
            }}</a>
          </li>
        </ul>
      </div>
      <p class="float-right text-[#fff]">{{ footer_data.copyright_text }}</p>
    </div>
  </div>
</div>
