// .thead {
//   grid-template-columns: 2fr 1fr 1fr;
// }
// .com_row {
//   grid-template-columns: 2fr 1fr 1fr;
// }

.sidebar {
  position: fixed;
  bottom: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #222;
  transition: all 0.3s ease-in-out;
  z-index: 1;

  &.open {
    left: 0;
  }

  .sidebar-toggle {
    display: block;
    position: absolute;
    top: 15px;
    right: -50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 50px;

    li {
      margin-bottom: 20px;

      a {
        display: block;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #f00;
        }
      }
    }
  }
}