<div class="login">
  <div class="main">
    <div class="main_menu">
      <div class="main_menu_data">
        <form [formGroup]="LoginForm" (ngSubmit)="OnLoginuserSubmit()">
          <div class="main_menu_data_header">
            <h3>Login</h3>
          </div>
          <div class="main_menu_data_subheader">
            <h6>Add your details to login</h6>
          </div>
          <div class="main_menu_data_inputs">
            <input type="text" placeholder="Mobile No or Email id" formControlName="UserId" />
            <input type="password" placeholder="Password" formControlName="password" />
          </div>
          <div class="main_menu_data_forgot" (click)="ForgotPassword()">
           <h6>Forgot your password?</h6>
          </div>
          <div class="main_menu_data_remember">
            <input type="checkbox" class="ng-untouched ng-pristine ng-valid" /><span>Remember Me</span>
          </div>
          <div class="main_menu_data_loginButton">
            <button type="submit">Login</button>
          </div>
          <div class="main_menu_data_signUp">
            <span> Don't Have an account ? </span>
            <a routerLink="/signup">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="background"></div>
</div>