.login {
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 10;
  position: fixed;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000;
}
.main_menu {
  z-index: 12;
  position: absolute;
  width: 90%;
  border-radius: 60px;
  max-width: 450px;
}
.main_menu_data {
  height: 56%;
  min-height: 400px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border-radius: 60px;
  box-shadow: 0 0 15px #0000008c;
}
.main_menu_data_header {
  color: #41241c;
  padding-top: 3vh;
  padding-bottom: 1.5vh;
  text-align: center;
  h3 {
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 20px;
  }
}
.main_menu_data_subheader {
  color: #41241c;
  text-align: center;
  h6 {
    font-size: 13px;
    padding-bottom: 5px;
  }
}
.main_menu_data_inputs {
  width: 100%;
  text-align: center;
  input {
    margin: 5px 0;
    background: #f2f2f2;
    width: 90%;
    border-radius: 30px;
    padding: 12px 24px;
    border: none;
  }
  input:focus {
    outline: none;
  }
}
.id {
  font-size: 85%;
}
.main_menu_data_forgot {
  margin-top: 10px;
  padding-right: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #41241c;
  h6 {
    margin: 0;
    font-weight: 700;
    font-size: 13.5px;
  }
}
.main_menu_data_remember {
  width: 100%;
  text-align: center;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  input {
    margin: 5px 0;
    background: #f2f2f2;
    border-radius: 30px;
    padding: 14px 24px;
    border: none;
  }
  span {
    margin-left: 5px;
    font-size: 14.5px;
    font-weight: 700;
  }
}
.main_menu_data_loginButton {
  width: 100%;
  margin: 15px 0;
  text-align: center;
  button {
    width: 90%;
    text-align: center;
    background-color: #41241c;
    color: #fff;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 19px;
  }
}
.main_menu_data_signUp {
  width: 100%;
  text-align: center;
  color: #41241c;
  span {
    font-weight: 700;
    font-size: 14px;
  }
  a {
    font-weight: 700;
    font-size: 14px;
    color: #41241c;
    border-bottom: 2px solid;
  }
}
.background {
  height: 100vh;
  width: 100vw;
  z-index: 11;
  position: absolute;
  top: 0;
  background-color: #000000a3;
}
