<div class="login">
  <div class="main">
    <div class="main_menu">
      <div class="main_menu_data">
        <div class="main_menu_data_header">
          <h3>Login</h3>
        </div>
        <div class="main_menu_data_subheader">
          <h6>Add your details to login</h6>
        </div>
        <div class="main_menu_data_inputs">
          <input
            type="text"
            placeholder="Mobile No or Email id"
            class="ng-untouched ng-pristine ng-valid"
          /><input
            type="password"
            placeholder="Password"
            class="ng-untouched ng-pristine ng-valid"
          />
        </div>
        <div class="main_menu_data_forgot">
          <h6>Forgot your password?</h6>
        </div>
        <div class="main_menu_data_remember">
          <input
            type="checkbox"
            class="ng-untouched ng-pristine ng-valid"
          /><span>Remember Me</span>
        </div>
        <div class="main_menu_data_loginButton">
          <button type="submit">Login</button>
        </div>
        <div class="main_menu_data_signUp">
          <h6>
            Don't Have an account ?
            <a routerlink="/signup">Register</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="background"></div>
</div>
