::-webkit-scrollbar {
  width: 0;
}

.dragable_div {
  z-index: 10;
  position: fixed;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #41241c;
  padding: 9px;
  box-shadow: 0 5px 10px #555454;
  bottom: 100px;
}
.img1{
  height: 100%;
  width: 100%;
  -webkit-mask: url(../../assets/images/apps-outline.svg) no-repeat center;
  background-color: #fff;
}
.img2{
  height: 100%;
  width: 100%;
  -webkit-mask: url(../../assets/images/logo-whatsapp.svg) no-repeat center;
  background-color: #fff;
}




@media screen and (min-width: 801px) {
  .dragable_div{
    display: none;
  }
}