<section class="h-screen relative">
  <akshat-gold-header></akshat-gold-header>
  <router-outlet></router-outlet>
  <div class="dragable_div left-[15px]">
    <div class="img" *ngIf="menu === false" (click)="popupfn1()" style="
        -webkit-mask: url(../../assets/images/apps-outline.svg) no-repeat center;
      "></div>
  </div>

  <!-- <***************w'App********************> -->

  <div class="dragable_div right-[15px]">
    <a href="https://api.whatsapp.com/send/?phone=919510179542" target="_blank">
      <div class="img" style="
          -webkit-mask: url(../../assets/images/logo-whatsapp.svg) no-repeat center;"></div>
    </a>
  </div>

  <akshat-gold-clone-footer></akshat-gold-clone-footer>

  <div class="other_buttons" *ngIf="popup === true">
    <div class="other_buttons_1">
      <div class="other_buttons_1_data">
        <div class="other_buttons_1_data_button">
          <button class="img_container" routerLink="home/about-us">
            <div class="img1" style="-webkit-mask: url(../../assets/images/solo-logo.svg) no-repeat center;"></div>
          </button>
        </div>
        <div class="other_buttons_1_data_text">
          <h4>About Us</h4>
        </div>
      </div>
      <div class="other_buttons_1_data">
        <div class="other_buttons_1_data_button">
          <button class="img_container" routerLink="home/updates">
            <div class="img1" style="-webkit-mask: url(../../assets/images/mail.svg) no-repeat center;"></div>
          </button>
        </div>
        <div class="other_buttons_1_data_text">
          <h4>Updates</h4>
        </div>
      </div>
      <label for="Eco. Calender" >
        <div class="other_buttons_1_data">
        
          <div class="other_buttons_1_data_button">
            <button class="img_container" routerLink="home/eco-calender">
              <div class="img1" style="
                  -webkit-mask: url(../../assets/images/calendar.svg) no-repeat center;"></div>
            </button>
          </div>
          <div class="other_buttons_1_data_text">
            <h4>Eco. Calender</h4>
          </div>
        </div>
      </label>
      <div class="other_buttons_1_data" (click)="popupfn2()">
        <div class="other_buttons_1_data_button">
          <button class="img_container !border-none">
            <div class="img1 !h-[25px] !w-[25px]" style="
                -webkit-mask: url(../../assets/images/close-outline.svg) no-repeat center;"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>