::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.dragable_div {
  z-index: 10;
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #41241c;
  padding: 9px;
  box-shadow: 0 5px 10px #555454;
  bottom: 100px;
}
.other_buttons {
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #fffffff2;
  z-index: 10;
}
.other_buttons_1 {
  width: 100%;
  bottom: 90px;
  padding: 0 16px;
  position: absolute;
}
.other_buttons_1_data {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.other_buttons_1_data_button {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: #41241c;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_container {
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: inherit;
  padding: 2px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img1 {
  height: 17px;
  width: 17px;
  background-color: #fff;
}
.other_buttons_1_data_text {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  border-color: #000;
  box-shadow: 0 0 8px #ccc;
  padding: 6px 8px;
  height: 33px;
  width: 180px;

  &:hover {
    transition: all ease-in-out 0.8s;
    background-color: #fff;
    width: 250px;
  }

  h4 {
    font-size: 14px;
  }
}
:hover + .other_buttons_1_data_text {
  transition: all ease-in-out 0.8s;
  background-color: #fff;
  width: 250px;
}
.img {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

// <**********************media-quaary*******************>

@media screen and (min-width: 801px) {
  .dragable_div {
    display: none;
  }
}