.Mapp-footer {
    --indicator-border-color: white;
    --bg-color: black;
}

@media screen and (max-width:800px) {
    .app-home-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .app-home-container {
        margin-top: 170px;
    }
}

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.sidebar {
    position: fixed;
    bottom: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #222;
    transition: all 0.3s ease-in-out;
    z-index: 1;

    &.open {
        left: 0;
    }

    .sidebar-toggle {
        display: block;
        position: absolute;
        top: 15px;
        right: -50px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 1;
    }

    .sidebar-menu {
        list-style: none;
        padding: 0;
        margin-top: 50px;

        li {
            margin-bottom: 20px;

            a {
                display: block;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}


.sidebar-menu {
    li {
        :hover {
            margin-left: 30px;
            color: red !important;
        }
    }
}