// .main_container {
//   box-shadow: inset -2px -2px 5px #ffffff80, inset 3px 3px 5px #ffffff12;
// }
.about_us {
  img {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    transform: translate(-50%, -50%);
    // opacity: 0.2;
  }
}
// .main {
//   position: relative;
// }
