<div class="main w-full flex justify-center pb-6 items-center ">
    <div class="maindiv w-[90%] px-[15px] flex justify-center flex-col items-center">
        <div class="tittle flex justify-center items-center py-[8px]  text-[28px] mt-2 text-[var(--primary-dark)] font-bold">CONTACT US</div>
        <div class="info p-3 bg-white flex flex-col justify-center w-full mb-5 ">
            
            
            
            
            <div *ngFor="let item of data1" class="address flex justify-center w-full rounded-[4px]  items-center bg-white flex-col py-[20px] px-[5px] "> 
                <div class="icon flex justify-center items-center h-[68px] mb-[10px] rounded-[35px] bg-[var(--primary-dark)] w-[68px]">
                    <img class="flex  h-[55%] w-[55%]" [src]="item.logo"  alt="map logo not found" >
                </div>
                <p class="text text-[20px] font-bold mb-[10px] text-[var(--primary-dark)]">{{item.name}}</p>
                <p *ngFor="let para of item.info" class="fulladdres  text-[16px]" >{{para}}</p>
            </div>


            <div *ngFor="let item of data2" class="address flex justify-center w-full rounded-[4px]  items-center bg-white flex-col py-[20px] px-[5px] "> 
                <div class="icon flex justify-center items-center h-[68px] mb-[10px] rounded-[35px] bg-[var(--primary-dark)] w-[68px]">
                    <img class="flex  h-[55%] w-[55%]" [src]="item.logo"  alt="map logo not found" >
                </div>
                <p class="text text-[20px] font-bold mb-[10px] text-[var(--primary-dark)]">{{item.name}}</p>
                <a *ngFor="let para of item.info" class="fulladdres  text-[16px]" href="mailto:{{para}}">{{para}}</a>
            </div>





            <div *ngFor="let item of data3" class="phone flex justify-center w-full rounded-[4px]  items-center bg-white flex-col py-[20px] px-[5px] "> 
                <div class="icon flex justify-center items-center mb-[10px] h-[68px] rounded-[35px] bg-[var(--primary-dark)] w-[68px]">
                    <img class="flex  h-[55%] w-[55%]" [src]="item.logo"  alt="map logo not found" >
                </div>
                <p class="text text-[20px] font-bold mb-[10px] text-[var(--primary-dark)]">{{item.name}}</p>
                <p *ngFor="let para of item.info" >
                    <a  class="fulladdres flex flex-row  text-[16px]" href="tel:'{{para}}'">

                        <img [src]="item.logo2" class="h-[16px] mr-2 mt-1" alt="">
                        <span>{{para}}</span>
                    </a>                    
                         
                </p>
            </div>
            <!-- <div class="email"></div>
            <div class="phone"></div> -->
        </div>
    </div>
</div>



