<div class="h-full w-full Roboto flex justify-center items-center">
  <div class="max-w-[450px] w-[90%] flex items-center justify-center">
    <div class="h-full flex flex-col">
      <div class="flex justify-center items-center flex-col">
        <h1 class="font-normal text-[#fce975] text-center my-[6px] text-[28px]">
          Please enter the OTP sent to
        </h1>
        <h4 class="flex text-[15px] font-normal text-[#fff] text-center my-[6px]">
          +91 {{ this.userData.sahil.MobileNumber }}.
          <a (click)="change()" class="text-[#fc6011] ml-5 underline">Change</a>
        </h4>
      </div>

      <div class="input flex items-center my-[60px] h-[60px] w-full justify-evenly flex-row" #otpParent>
        <input *ngFor="let itee of [].constructor(6); let i = index" type="tel" maxlength="1"
          class="m-2 text-center form-control rounded focus:outline-none yellow_gradient flex justify-center items-center h-[45px] w-[45px] text-[25px] font-semibold text-[#a9481b]"
          (keyup)="onKeyUpEvent(i, $event)" (keydown)="NotNumber($event)" />
      </div>

      <div class="flex justify-center"><button (click)="usersubmitotp()"
          class="yellow_gradient my-[10px] font-semibold min-w-[270px] text-[16px] p-[15px] border-none rounded-[25px] flex justify-center items-center focus:outline-none">
          Submit
        </button></div>
      <div class="flex justify-center items-center flex-col">
        <h4 class="flex text-[15px] font-normal text-[#fff] text-center my-[6px]">
          Do not send OTP ?
          <a (click)="ReSendOTP()" class="text-[#fc6011] ml-3">ReSend OTP</a>
        </h4>
      </div>
    </div>
  </div>
</div>