<div class="laptopTable flex mx-auto my-2 justify-around">
  <rps-bull-rate-tables-5
    class="w-[30%] alay"
    Product_name="GOLD"
    [rate]="Gold_rate"
  ></rps-bull-rate-tables-5>
  <rps-bull-rate-tables-5
    class="w-[30%] alay"
    Product_name="silver"
    [rate]="Silver_rate"
  ></rps-bull-rate-tables-5>
  <rps-bull-rate-tables-5
    class="w-[30%] alay"
    Product_name="INR"
    [rate]="Inr_rate"
  ></rps-bull-rate-tables-5>
</div>
<rps-bull-rate-tables-7 class="table7 w-full py-[10px]"></rps-bull-rate-tables-7>

<div class="lastTable">
  <rps-bull-rate-tables-6 class="w-full pb-[50px]"></rps-bull-rate-tables-6>
</div>
