::-webkit-scrollbar {
    width: 0;
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    position: relative;
}

.backgroundimg {
    position: fixed;
    z-index: -5;
    height: 714px;
    width: 1536px;
    background-color: #000;
    overflow: hidden;
}

.img_parent {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #000;

    img {
        height: 714px;
        width: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
}