::-webkit-scrollbar {
    width: 0;
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.backgroundimg {
    position: fixed;
    z-index: -5;
    height: 850px;
    width: 2500px;
    overflow: hidden;
}

.img_parent {
    height: 100%;
    width: 100%;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        position: absolute;
    }
}