.click {
  color: #bc9039;
}
.click2 {
  border-bottom: 3px solid #fff;
  a {
    :hover::after {
      width: 100%;
      background: blue;
      transition: width 1s ease, background-color 1s ease-in-out;
    }
  }
}







@media screen and (max-width: 950px) {
  .h1 {
    display: none;
  }
  .h2 {
    display: none;
  }
  .logo {
    width: 70%;
  }
  .img {
    width: 400px;
    height: 90px;
  }
}
@media screen and (max-width: 802px) {
  .main {
    height: 50%;
  }
  .header {
    width: 100%;
    height: 100%;
    padding: 17px 0;
  }
  .marquee {
    box-shadow: 1px 5px 4px #aea9a9;
    padding: 7px 0;
  }
  .head_mid {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .img {
    width: 350px;
    height: 90px;
  }
}
@media screen and (max-width: 572px) {
  .img {
    width: 350px;
    height: 90px;
  }
  .header {
    margin: 0%;
    padding: 0%;
  }
}
@media screen and (max-width: 802px) {
  .header {
    padding: 10px;
  }
}
@media screen and (max-width: 592px) {
  .header {
    margin: auto;
    padding: 12px 0;
  }
  img {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .logo {
    width: 450px;
    height: 90px;
  }
}
