<div class="main">
  <div class="header_top">
    <div class="header_top_1">
      <div class="header_data_timing_working">{{ SERVICES_HOUR }}</div>
      <div class="coloumn">
        <div class="header_data_timing_weekdays_days">Monday:</div>
        <div class="header_data_timing_weekdays_time">10:AM- 6:PM</div>
      </div>
    </div>
    <div class="header_top_2">
      <img src="../../assets/images/Logo.svg" alt="" />
    </div>
    <div class="header_data_contact header_top_3">
      <div class="header_data_contact_title">Booking Numbers:</div>
      <div class="header_data_contact_contacts">
        <div class="header_data_contact_contacts_contact">
          <a href="tel:9265438886">9265438886</a> |
        </div>
        <div class="header_data_contact_contacts_contact">
          <a href="tel:9904718494">9904718494</a>
        </div>
      </div>
      <div class="header_data_contact_contacts">
        <div class="header_data_contact_contacts_contact">
          <a href="tel:9904818494">9904818494</a>
        </div>
        <!---->
      </div>
    </div>
  </div>
  <div class="header_mid">
   <div class="menu">
    <div class="menu_nav">
      <ul>
        <a href="">ABOUT US</a>
        <a href="">LIVE RATE</a>
        <a href="">UPDATES</a>
        <a href="">BANK DETAILS</a>
        <a href="">APP</a>
        <a href="">CONTACT US</a>
        <a href="">ECO. CALENDER</a>
      </ul>
    </div>
   </div> 
  </div>
  <div class="header_bottom">
    <marquee
      direction="left"
      scrollamount="6"
      class="marquee_container_marquee"
    >
      Welcome To Akshat Gold Pvt Ltd.
    </marquee>
  </div>
</div>
