<div>
  <div class="mx-[10%] my-[40px]">
    <div
      *ngFor="let item of data"
      class="my-[20px] p-[25px] rounded-xl shadow-2xl"
    >
      <div class="relative pb-[15px]">
        <h2
          class="font-sans text-[25px] pb-[5px] border-b-[#bd9039] border-b-[1px] m-[-1px]"
        >
          {{ item.tittle }}
        </h2>
        <hr
          class="mb-[20px] pb-[1.2px] w-[80px] bg-[#bd9039] border-b-[3px] border-b-[#bd9039]"
        />
      </div>
      <h1 class="font-sans text-[16px]">
        {{ item.content }}
      </h1>
      <div class="w-full relative h-[26%]">
        <p
          class="mb-[5px] float-right font-normal text-justify text-[12px] leading-5 text-[#bd9039]"
        >
        Updated at  {{ item.updated_time | date : 'medium'}}
        </p>
      </div>
    </div>
  </div>
</div>
