.main_container_data {
    padding: 12px 18px 6px 22px;
    box-shadow: 1px 1px 5px #fff;
    border-radius: 12px;
    margin: 15px 0;
}

.main_container_data_header {
    position: relative;
    padding-bottom: 5px;

    h2 {
        font-size: 24px;
        margin: 0;
        color: #fff;
        padding: 0 0 8px;
        border-bottom: 1px solid #fce975;
    }

    hr {
        border: 1px solid #fce975;
        width: 10%;
        padding: 0 0 1.2px;
        top: 40px;
        background: #fce975;
        margin: 0 0 20px;
        max-width: 80px;
    }
}

.main_container_data_contant {
    color: #fff;
}

.main_container_data_timestamp {
    width: 100%;
    position: relative;
    height: 26px;

    p {
        color: #fff;
        float: right;
        font-weight: 400 !important;
        text-align: justify;
        font-size: 12px;
        letter-spacing: normal;
        line-height: 20px;
        margin: 0 0 5px;
    }
}