input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
// *******************// media query//************************
@media screen and (max-width: 1200px) {
    .Signup_input {
        h1 {
            font-size: 30px;
        }

        h4 {
            font-size: 15px;

        }
    }

    .input {
        input {
            width: 80%;
        }
    }

    .inputs {
        margin: 0;
    }
}