input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.yellow_gradient {
    background-image: radial-gradient(circle, #fce975, #ebcf62, #d9b651, #c79d40, #b48531);
    color: #a9481b;
}

@media screen and (max-width: 1200px) {
    .Signup_input {
        h1 {
            font-size: 30px;
        }

        h4 {
            font-size: 15px;

        }
    }

    .input {
        input {
            width: 80%;
        }
    }

    .inputs {
        margin: 0;
    }
}