<div class="main bg-[#000000c5] backdrop-blur-[2.5px] w-full flex flex-col justify-center items-center h-[220px] Roboto">
    <div class="Logo flex justify-center items-center w-full relative h-[60%] mr-[20px]">
      <div class="flex justify-center"> 
        <a href="####"
          ><img
            class="img w-[440px] h-[100px]"
            src="{{images.akshat_bull_logo}}"
            alt="Akshat Logo"
        /></a>
      </div>
      <div
        class="download_img absolute border-[#fcea73] border h-[40px] w-[175px] flex justify-center items-center rounded-[5px]"
      >
        <a routerLink="home/Downloadapp"
          class="flex justify-center mr-[10px] items-center text-[#fce975]"
          href="#######"
          ><img 
            class="web h-[20px] w-[20px] mr-2"
            src="{{images.download_outline}}"
          />{{Input_data.Download_Apps}}
        </a>
      </div>
    </div>
    <div class="menu_nav w-full flex justify-center h-[25%] text-[14px]">
      <ul class="ul flex flex-row">
        <li  routerLinkActive="click_2"
          *ngFor="let item of data"
          class="p-[19px] hover:border-b hover:text-[#fce975] text-[white] border-[#fce975]"
        >
          <a [routerLink]="item.routerLink" routerLinkActive="click_1" [routerLinkActiveOptions]="{exact:true}" class="cursor-pointer">{{ item.name }}</a>
        </li>
      </ul>
    </div>
    <div class="marquee w-[80%] h-[15%] text-[16px]">
      <div class="marquee_container">
        <marquee
          direction="left"
          scrollamount="6"
          class="text-[#fce975]"
        >
        {{Input_data.marquee}}
        </marquee>
      </div>
    </div>
  </div>
  