<div class="main">
    <div class="main_pop">
        <div class="main_pop_header">
            <div class="back_button_div">
                <a routerlink="/signup" href="/signup">
                <img src="../../assets/images/chevron-back-circle.svg" alt="back" />
            </a>
            </div>
            <h1>Terms &amp; Conditions</h1>
            <h1 hidden="">Privacy &amp; Policy</h1>
        </div>
        <div class="main_pop_conditions">
            <div class="main_pop_conditions_condition">
                <div class="symbole">*</div>
                <div class="text">
                    Welcome to our website. If you continue to browse and use this website
                    you are agreeing to comply with and be bound by the following terms
                    and conditions of use, which together with our privacy policy govern
                    Akshat Gold relationship with you in relation to this website.
                </div>
            </div>
            <div class="main_pop_conditions_condition">
                <div class="symbole">*</div>
                <div class="text">
                    The content of the pages of this website is for your general
                    information and use only. It is subject to change without notice.
                </div>
            </div>
            <div class="main_pop_conditions_condition">
                <div class="symbole">*</div>
                <div class="text">
                    Your use of any information or materials on this website is entirely
                    at your own risk, for which we shall not be liable. It shall be your
                    own responsibility to ensure that any products, services or
                    information available through this website meet your specific
                    requirements.
                </div>
            </div>
            <div class="main_pop_conditions_condition">
                <div class="symbole">*</div>
                <div class="text">
                    Unauthorized use of this website may give rise to a claim for damages
                    and/or be a criminal offence.
                </div>
            </div>
            <div class="main_pop_conditions_condition">
                <div class="symbole">*</div>
                <div class="text">
                    Your use of this website and any dispute arising out of such use of
                    the website is subject to the laws of India or other regulatory
                    authority.
                </div>
            </div>
            <!---->
        </div>
        <div class="main_pop_bottom">
            <hr />
            <div class="main_pop_bottom_contact">
                <h6>
                    For More Info. Contact :
                    <a href="tel:+91 90164-36555">
                        +91 90164-36555
                    </a>
                </h6>
            </div>
        </div>
    </div>
</div>