<div class="main w-[100vw] h-[100vh] flex bg-[#bc9039] justify-center items-center">
    <div class="main_pop h-[96%] w-[90%] max-w-[450px] relative rounded-[40px] bg-[#fff]">
        <div class="main_pop_header mt-[15px] h-[10%] text-center relative text-[#4a4b4b]">
            <div class="back_button_div absolute ml-[5%] float-left rounded-[50%] p-[2px] flex items-center justify-center cursor-pointer">
                <a routerlink="/signup" href="/signup">
                <img class="h-[30px]" src="../../assets/images/chevron-back-circle.svg" alt="back" />
            </a>
            </div>
            <h1 class="text-[25px] font-normal">Terms &amp; Conditions</h1>
            <h1 hidden="">Privacy &amp; Policy</h1>
        </div>
        <div class="main_pop_conditions h-[75%] w-[94%] ml-[3%] overflow-auto">
            <div class="main_pop_conditions_condition h-auto w-full inline-flex mb-[7px]">
                <div class="symbole flex-5 h-auto font-[450]">*</div>
                <div class="text flex-[95] text-[15px] font-[450] leading-[1.3] text-[#4a4b4d] h-auto text-justify">
                    Welcome to our website. If you continue to browse and use this website
                    you are agreeing to comply with and be bound by the following terms
                    and conditions of use, which together with our privacy policy govern
                    Akshat Gold relationship with you in relation to this website.
                </div>
            </div>
            <div class="main_pop_conditions_condition h-auto w-full inline-flex mb-[7px]">
                <div class="symbole flex-5 h-[75%] font-[450]">*</div>
                <div class="text flex-[95] text-[15px] font-[450] leading-[1.3] text-[#4a4b4d] h-auto text-justify">
                    The content of the pages of this website is for your general
                    information and use only. It is subject to change without notice.
                </div>
            </div>
            <div class="main_pop_conditions_condition h-auto w-full inline-flex mb-[7px]">
                <div class="symbole flex-5 h-[75%] font-[450]">*</div>
                <div class="text flex-[95] text-[15px] font-[450] leading-[1.3] text-[#4a4b4d] h-auto text-justify">
                    Your use of any information or materials on this website is entirely
                    at your own risk, for which we shall not be liable. It shall be your
                    own responsibility to ensure that any products, services or
                    information available through this website meet your specific
                    requirements.
                </div>
            </div>
            <div class="main_pop_conditions_condition h-auto w-full inline-flex mb-[7px]">
                <div class="symbole flex-5 h-[75%] font-[450]">*</div>
                <div class="text flex-[95] text-[15px] font-[450] leading-[1.3] text-[#4a4b4d] h-auto text-justify">
                    Unauthorized use of this website may give rise to a claim for damages
                    and/or be a criminal offence.
                </div>
            </div>
            <div class="main_pop_conditions_condition h-auto w-full inline-flex mb-[7px]">
                <div class="symbole flex-5 h-[75%] font-[450]">*</div>
                <div class="text flex-[95] text-[15px] font-[450] leading-[1.3] text-[#4a4b4d] h-auto text-justify">
                    Your use of this website and any dispute arising out of such use of
                    the website is subject to the laws of India or other regulatory
                    authority.
                </div>
            </div>
            <!---->
        </div>
        <div class="main_pop_bottom h-[10%]">
            <hr class="h-[3px] ml-[37.5%] w-[25%]"/>
            <div class="main_pop_bottom_contact flex justify-center mt-[13px] text-[15px]">
                <h6>
                    For More Info. Contact :
                    <a class="text-[#bc9039] underline font-[450]" href="tel:+91 90164-36555">
                        +91 90164-36555
                    </a>
                </h6>
            </div>
        </div>
    </div>
</div>